.top-bar-left {
    .menu {
        li {
            color: white;
            a {
                color: white;

                &:hover {
                    background: $secondary-color ;
                }
            }
        }
    }
}

.top-bar-right {
    .menu {
        li {
            a {
                background: white;
                color: $primary-color;
            }
        }
    }
}
