.vertical {
    .tile {         
        width: 35px;
        height: 48px;
        background-image: url('../images/sprite1.png');
    }
}

.hybrid {
    .tile {
        width: 38.87px;
        height: 48px;
        background-image: url('../images/sprite_horizontal.png');
        background-size: 544.18px 144px;
    }
}

#board 
{
    position: relative;
    min-height: 500px;
    .tile {
        position: absolute;

        &:hover {
            box-shadow: 4px 4px 2px rgba(30, 50,30, 0.4);
            margin-top: 3px; 
            border: 1px solid #990000;
            cursor:grabbing;       
        }
    }

    .selected {
        border: 2px solid green;
        transform: rotate(4deg);
    }
}

#players-board {
    .tile {
        display: inline-block;
    }
}

