
$percentage: 0.10;
$board-tile-width: 369 * $percentage;
$board-total-height: 20160 * $percentage;
$board-tile-height: $board-total-height / 42;

#board 
{
    position: relative;

    .tile {
        position: absolute;
        width: #{$board-tile-width}px;
        height: #{$board-tile-height}px;
        background-image: url('../images/sprite1.png');
        background-size: #{$board-tile-width}px #{$board-total-height}px;

        &:hover {
            box-shadow: 4px 4px 2px rgba(30, 50,30, 0.4);
            margin-top: 3px; 
            border: 1px solid #990000;
        }
    }

    .selected {
        border: 2px solid green;
        opacity: 0.8;
    }
}

