.top-bar-left{
    .menu {
        li {
            color: white;
            a {
                color: white;

                &:hover {
                    background: $secondary-color ;
                }
            }
        }
    }
}