

<div *ngIf="game == null">Loading details...</div>
<h2>Game play</h2>

<div class="clearfix">
    <div class="float-left">
        Theme: <button class="button small primary" type="button" (click)="changeTheme('vertical')">Vertical</button> | <button class="button small primary" type="button" (click)="changeTheme('hybrid')">Hybrid</button>
    </div>

    <div class="float-right">
        <div class="callout warning" [hidden]="game == null || game.state != 'open'">Waiting for other players</div>
        <div class="callout success" [hidden]="game == null || game.state != 'playing'">Active</div>
        <div class="callout primary" [hidden]="game == null || game.state != 'finished'">Game is finished!</div>
    </div>
</div>

<tabs>
    <tab tabTitle="Game board">
        <div id="board" class="{{ layoutManagerType }}">
            <div class="callout alert" [hidden]="errorMessage == ''" style="position: abslolute; z-index: 9000; width: 100%; top: 0;">{{ errorMessage }}</div>
            <div class="callout primary" [hidden]="!matching" style="position: abslolute; z-index: 9000; width: 100%; top: 0;">Matching</div>
            <div *ngFor="let tile of (inGameTiles | tileMatch)" class="tile" [ngClass]="{'selected': tile == selectedTile || tile == selectedTIleToMatch }" (click)="matchTile(tile)" [ngStyle]="calcTilePosition(tile)"></div>
        </div>
    </tab>

    <tab tabTitle="Players">
        <ul *ngIf="game != null">
            <li *ngFor="let player of game.players"><strong>{{ player.name }}</strong></li>
        </ul>
    </tab>

    <tab tabTitle="Played tiles">
        <div id="players-board" class="{{ layoutManagerType }}">
            <div *ngIf="game != null">
                <div *ngFor="let player of game.players">
                    <div><strong>{{ player.name }}</strong></div>
                    <div class="tile" *ngFor="let tile of (inGameTiles | tileMatch: true: player.id)" [ngStyle]="calcTileOffset(tile)"></div>
                </div>
            </div>
        </div>
    </tab>
</tabs>   