<p *ngIf="!isLoggedIn()">
Please login to view any games!
</p>

<div *ngIf="isLoggedIn()">
    <h2>Games</h2>
    <hr />
    <div>
        <a class="button large secondary" routerLink="new-game">Create new game</a>
    </div>
    <div class="callout rounded"  *ngFor="let game of games">
        <h5 class="clearfix">{{ game.createdBy.name }} <small class="float-right">{{ game.createdOn | date:'dd/MM/yyyy HH:mm:ss' }}</small></h5> 

        <hr />
        <h6>Players</h6>
        <ul *ngIf="game.players.length > 0 ">
            <li *ngFor="let player of game.players"> {{ player.name }}</li>
        </ul>
        <div>
            <a class="small button" href="#0">View game</a> 
            <a class="small button success" href="#0">Play game</a> 
        </div>
    </div>

    <div style="clear: both"></div>
</div>

