<h2>New Game</h2>
<div class="callout warning" [hidden]="errorMessage == ''" id="errorMessage">{{ errorMessage }}</div>


<form [formGroup]="newGameForm" (submit)="return">
<div class="callout warning" *ngIf="errorMessage" id="errorMessage">
  {{ errorMessage }}
</div>

  <div class="row">
    <div class="small-12 columns">
        <label for="minPlayers">Minimal Players</label>
        <input type="text" id="minPlayers" class="form-control"
               formControlName="minPlayers" required >

        <div *ngIf="formErrors.minPlayers" class="form-error">
          {{ formErrors.minPlayers }}
        </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
        <label>Maximum players</label>
        <input type="text" id="maxPlayers" class="form-control"
               formControlName="maxPlayers" required >

        <div *ngIf="formErrors.maxPlayers" class="form-error">
          {{ formErrors.maxPlayers }}
        </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <label>Game template</label>
        <select class="form-control" id="templateName" class="form-control"
               formControlName="templateName" required>
            <option value="" *ngIf="gameTemplates == []">Loading...</option>
            <option *ngFor="let template of gameTemplates" [value]="template.id">{{template.id}}</option>
        </select>
        <div *ngIf="formErrors.templateName" class="form-error">
          {{ formErrors.templateName }}
        </div>
    </div>
  </div>

  <button type="button" [hidden]="newGameForm.invalid" class="button medium primary" (click)="addGame()">New Game</button>
</form>