<p *ngIf="!isLoggedIn()">
Please login to view any games!
</p>

<div [hidden]="!isLoggedIn()">
    <h2>Games</h2>
    <hr />
    <div>
        <a class="button large secondary" routerLink="/games/new-game">Create new game</a>
    </div>
    <!-- Tabs -->
    <tabs>
        <tab tabTitle="Open games">
            <div *ngFor="let game of gameOverview.games" class="callout open-games">
                <h5 class="clearfix">{{ game.createdBy.name }} <small class="float-right">{{ game.createdOn | date:'dd/MM/yyyy HH:mm:ss' }}</small></h5> 

                <hr />
                <div>Template: <strong>{{ game.gameTemplate.id }}</strong></div>
                <div>Available places: <strong>{{ game.avaiablePlaces() }}</strong></div>
                <br />
                <h5>Joined players</h5>
                <ul *ngIf="game.players.length > 0 ">
                    <li *ngFor="let player of game.players"> {{ player.name }}</li>
                </ul>

                <div>
                    <button type="button" class="small button success startGame" *ngIf="game.canStart(gameOverview.currentPlayer)" (click)="gameOverview.startGame(game)">Start</button>
                    <button type="button" class="small button warning joinGame" *ngIf="game.canJoin(gameOverview.currentPlayer)" (click)="gameOverview.joinGame(game)">Join game</button>
                    <button type="button" class="small button warning viewGame" (click)="gamePlaying.playGame(game)">View game</button>
                </div>
            </div>
        </tab>

        <tab tabTitle="Playing games">
           <div *ngFor="let game of (gamePlaying.games | gameContainsPlayer:gameOverview.currentPlayer.id:true)" class="callout playing-games-by-player">
                <h5 class="clearfix">{{ game.createdBy.name }} <small class="float-right">{{ game.createdOn | date:'dd/MM/yyyy HH:mm:ss' }}</small></h5> 
                <div>Started at: <strong>{{ game.startedOn | date:'dd/MM/yyyy HH:mm:ss' }}</strong></div>
                <hr />
                <div>Template: <strong>{{ game.gameTemplate.id }}</strong></div>
                <br />
                <h5>Joined players</h5>
                <ul *ngIf="game.players.length > 0 ">
                    <li *ngFor="let player of game.players"> {{ player.name }}</li>
                </ul>

                <button type="button" class="small button success playGame" (click)="gamePlaying.playGame(game)">Play</button>
            </div>
        </tab>

        <tab tabTitle="Spectate games">
           <div *ngFor="let game of (gamePlaying.games | gameContainsPlayer:gameOverview.currentPlayer.id:false)" class="callout playing-games">
                <h5 class="clearfix">{{ game.createdBy.name }} <small class="float-right">{{ game.createdOn | date:'dd/MM/yyyy HH:mm:ss' }}</small></h5> 
                <div>Started at: <strong>{{ game.startedOn | date:'dd/MM/yyyy HH:mm:ss' }}</strong></div>
                <hr />
                <div>Template: <strong>{{ game.gameTemplate.id }}</strong></div>
                <br />
                <h5>Joined players</h5>
                <ul *ngIf="game.players.length > 0 ">
                    <li *ngFor="let player of game.players"> {{ player.name }}</li>
                </ul>

                <button type="button" class="small button success" (click)="gamePlaying.playGame(game)">Spectate</button>
            </div>
        </tab>

        <tab tabTitle="Ended games">
           <div *ngFor="let game of gameClosed.games" class="callout">
                <h5 class="clearfix">{{ game.createdBy.name }} <small class="float-right">{{ game.createdOn | date:'dd/MM/yyyy HH:mm:ss' }}</small></h5> 
                <div>Started at: <strong>{{ game.startedOn | date:'dd/MM/yyyy HH:mm:ss' }}</strong></div>
                <div>Ended at: <strong>{{ game.endedOn | date:'dd/MM/yyyy HH:mm:ss' }}</strong></div>
                <hr />

                <div>Template: <strong>{{ game.gameTemplate.id }}</strong></div>
                <br />
                <h5>Joined players</h5>
                <ul *ngIf="game.players.length > 0 ">
                    <li *ngFor="let player of game.players"> {{ player.name }}</li>
                </ul>

                <button type="button" class="small button success" (click)="gamePlaying.playGame(game)">View</button>
            </div>
        </tab>
    </tabs>
</div>

